/* reset */

*


/* content editable */

*[contenteditable] { border-radius: 0.25em; min-width: 1em; outline: 0; }

*[contenteditable] { cursor: pointer; }

*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover { background: #DEF; box-shadow: 0 0 1em 0.5em #DEF; }

span[contenteditable] { display: inline-block; }

/* heading */

h1 { font: bold 100% sans-serif; letter-spacing: 0.5em; text-align: center; text-transform: uppercase; }

/* table */

.invoice-table-section table { table-layout: fixed; width: 100%; }
/*.invoice-table-section table { border-collapse: separate; border-spacing: 2px; }*/
/*.invoice-table-section th, td { border-width: 1px; padding: 12px; position: relative; text-align: left; }*/
/*.invoice-table-section th, td { border-radius: 0.25em; border-style: solid; }*/
/*.invoice-table-section th { background: #EEE; border-color: #BBB; }*/
/*.invoice-table-section td { border-color: #DDD; }*/




/* article */

.invoice-table-section article, article address, table.meta, table.inventory { margin: 0; }
.invoice-table-section article:after { clear: both; content: ""; display: table; }
.invoice-table-section article h1 { clip: rect(0 0 0 0); position: absolute; }
.invoice-table-section article address { float: left; font-size: 125%; font-weight: bold; }

/* table meta & balance */

.invoice-table-section table.meta, table.balance { float: right; width: 36%; border-left: 2px solid #F8F8F8; margin-top: -2px;}
.invoice-table-section table.meta:after, table.balance:after { clear: both; content: ""; display: table; }
.invoice-table-section {  border: 2px solid #F8F8F8;}
.invoice-table-section .table.table-striped.balance { margin-bottom: 0;}

/* table meta */

.invoice-table-section table.meta th { width: 40%; }
.invoice-table-section table.meta td { width: 60%; }

/* table items */

.invoice-table-section table.inventory { clear: both; width: 100%;  position: relative; background-color: #fff;}
/*.invoice-table-section table.inventory th { font-weight: bold; text-align: center; }*/

/*
table.inventory td:nth-child(1) { width: 26%; }
table.inventory td:nth-child(2) { width: 38%; }
table.inventory td:nth-child(3) { text-align: right; width: 12%; }
table.inventory td:nth-child(4) { text-align: right; width: 12%; }
table.inventory td:nth-child(5) { text-align: right; width: 12%; }
*/

/* table balance */

.invoice-table-section table.balance th, table.balance td { width: 50%; }
.invoice-table-section table.balance td { text-align: right; }

/* aside */

.invoice-table-section aside h1 { border: none; border-width: 0 0 1px; margin: 0 0 1em; }
.invoice-table-section aside h1 { border-color: #999; border-bottom-style: solid; }

/* javascript */





tr:hover .cut { opacity: 1; }

@media print {
	* { -webkit-print-color-adjust: exact; }
	html { background: none; padding: 0; }
	body { box-shadow: none; margin: 0; }
	span:empty { display: none; }
	.add, .cut { display: none; }
}

@page { margin: 0; }